---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About Me"
  description="The story of my life"
  pubDate={new Date('April 13 2023')}
  updatedDate={new Date('April 13 2023')}
>
  <p>
    Here we are. I'm writing about me, and you're reading about me. I want to tell you something
    that you need to remember btw when reading my blogs: it's not about me, it's about you...
    And with that, I mean you should implement the tools that I, either implicitly or explicitly,
    give you. Certainly I'll be writing about me, some parts of the books that I read, and
    other things, but the main reason of this blog is to let you learn more. This is my idea
    and I hope you'll enjoy reading the posts and I hope you'll agree with this preface.
  </p>
  <p>
    First of all, let me tell you my identity. My name is Federico and I'm a 16 yo young student.
    I'm currently studing in High-School of Languages at the 3rd year. I actually enjoy it, but I
    prefer learning Computer Science. In the last five years, I've learned a lot more about CS
    and I've discovered that I'm really keen on this subject. Now I'll tell you about the story of
    my learning adventure, going through all the highs and lows, the useful and useless stuff.
    Fell free to skip this part if you're not interested in.
  </p>
  <p>
    It all started because of jealousy. A friend of mine pretended to be a computer genius in the
    middle schools. At the time I believed what he said was true. So I decided to study Computer
    Programming to be like him. It's fun now thinking that he was capping and I got passionate
    thanks to lies and jealousy. A very strange starting. However, I began to study Computer.
    I downloaded a book, don't remember the name, but it was a easy-peasy book about Computers's History,
    Computers's Components and an introduction to Programming. I literally discovered a world.
    I remained stunned by the potentiality of this subject. So I started learning. Now, you probably
    may be wandering about what programming language I learned first: this will make you laugh.
    I started programming with Batch. If you don't know what Batch is, it's normal; otherwise it's not.
    Simply, Batch is the programming language of Windows Terminal. I think that's actually a good
    programming language to start with btw. I mean, a lot of static programming structures are
    present in Batch, so it's fine. But obviously, Python is much intuitive and faster than Batch.
    But I wasn't taught about that. So, every day I learned something new, and I applied it to some projects.
  </p>
  <p>
    I want to spend a few words about learning programming. Take this as a parenthesis and fell free to skip it.
    When I first started, I just found normal to watch the code in the video, and then copy it
    into my code. But this has lasted for a very short period of time. After I had learned the basis,
    I started building my projects. Here's the main point I'm trying to convey when learning programming language:<br>
    - DO NOT copy and paste the code<br>
    - DO read the code and apply it into a project of yours<br>
    That's all I wanted to say. Closed parenthesis.
  </p>
  <p>
    I think I spent two years learning and creating stupid terminalbased programs. However, I have learned a lot
    thanks to this programming language. I don't regret learning Batch, but if you can choose, just choose Python
    to start with. It's much similar to English and therefore it's also easier. The first project I every created
    has been a sort bank management program. It was actually fake, in the sense that it didn't interact with a real
    bank database. That was really fun btw. I really recommend you try real-life projects even if you're not really
    practiced with the programming language you're learning.
  </p>
</Layout>
