---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About Me"
  description="The story of my life"
  pubDate={new Date('April 13 2023')}
  updatedDate={new Date('April 13 2023')}
>
  <p>
    Here we are. I'm writing about me, and you're reading about me. I want to tell you something
    that you need to remember btw when reading my blogs: it's not about me, it's about you...
    And with that, I mean you should implement the tools that I, either implicitly or explicitly,
    give you. Certainly I'll be writing about me, some parts of the books that I read, and my
    other things, but the main reason of this blog is to let you learn more. This is my idea
    and I hope you'll enjoy reading the posts and I hope you'll agree with this preface.
  </p>
</Layout>
